@import "tailwindcss";

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Ubuntu', sans-serif;
}

@layer utilities {
    .gradient {
        background: linear-gradient(-45deg, #302b63, #00bf8f, #1cd8d2)
    }
}
